Body{
	font-size: 30px;
	margin:100px;
	background-color: #E8A41C;
}

h1{font-family: Franklin Gothic Bold, sans-serif;
	text-transform: uppercase;}

.ci{
	font-size:10px;
	color:#3E3831;
}
.write{
	font-style: Italic;
	color: #3E3831 ;
}
.option{
	text-decoration: underline dotted;
	color: #000000;
}
.Watch{font-family: Arial Black, sans-serif;
	text-transform: uppercase;
	color:#695B41;	
	text-decoration: none;
}
}